
          html{
            height:100%;
            width:100%;
            }
            header{
              height:10%;
              width:100%;
          
              display: flex;
              flex-direction: row;
              align-content: center;
              justify-content: center;
              text-align: center;

              background-color: pink;
              
             
                }
          .logo{
            height: 100%;
        width: 100%;
          
          }
          
          .heading{
            height: 95%;
            width: 100%;
            font-size: 30px;
            font-weight:bold;
            font:times new roman;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
            font-style: oblique;
          
          }
          .sidecontent button{
            height: 60%;
            width:60%;
            
            
            font-size:small;
            transition-duration: 0.4s;
            cursor: pointer;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
            justify-content: center;
            align-items: center;
      
      
            background-color: #97d1f8;
            color: #000000;
      }
      
      .sidecontent button:hover{
      
      
      opacity: 0.8;
       background-color: rgb(5, 116, 219);
      }
              
               
            body {
                    font-family: "Lato", sans-serif;
                    margin: 0%;
                   /* background-color: pink;*/
                    height:100%;
                    width:100%;
                  }
            
            footer{
              height:10%;
              width:100%;
              background-color: rgb(209, 241, 182);
        
              display: flex;
          flex-direction:row;
          align-content:center;
          justify-content: center;
          text-align: center;
          cursor: pointer;
                    
            }
            
            
            .rig{
              height: 100%;
              width: 30%;
            }
            .left{
              height: 55%;
              width: 60%;
              padding: 10px;
            }
        
            span{
              font-size:smaller;
              font-weight: bold;
              text-align: center;
              padding: 10px;
            }
            
            
            p{
              margin: 0px;
              text-align: right;
              padding-right: 10px;
              font-size: small;
              color: #5c663d;
            }
            
            h5{
              margin: 0px;
              text-align: right;
              padding: 10px;
              font-size: small;
              color: #5c663d;
              cursor: pointer;
            }
            
            r{
              margin: 0px;
              padding-left: 20px;
              font-size: small;
              color: #5c663d;
              cursor: pointer;
            }
        .main-container{
                    height:80%;
                    width:100%;
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: right;
                    text-align: center;
                  }
                      .sidenav {
                        height: 100%;
                        width: 20%;
                        
                        background-color: #97d1f8;
                        overflow-x: hidden;
                  
                        display: flex;
                        flex-direction: column;
                      
                        align-content: center;
                        justify-content: center;
               
                       text-align: center;
                        cursor: pointer;
                  }
                  
                  .sidenav a {
                    padding: 20px 2px 39px 2px;
                    text-decoration: none;
                    font-size: 15px;
                    color: #000000;
                    display: block;
                   
                    border-style:solid;
                    border-color: aliceblue;
                    border-width: thick;
                  }
            
                  
                  .sidenav :hover{
                       opacity: 0.5;
                       background-color: rgb(5, 116, 219);
                  }
            
                  .active{
                    opacity: 0.5;
                    background-color: rgb(5, 116, 219);
                  
                  }
            
                  .content{
                    height:100%;
                    width:80%;
            
                    display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                text-align: center;
        
                
                 
            
            
                   
                  }

        
                

          .history{
            height: 100%;
            width: 98%;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-evenly;
            text-align: center;

            padding-left: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            
        }
        .firstorder{
            height: 50%;
            width: 98%;
           /* background-color: aquamarine;*/

            border-style:solid;
           border-color: rgb(2, 2, 2);
           border-width:thin;
        
        }

        .secondorder{
            height: 50%;
            width: 98%;
            /*background-color: rgb(241, 183, 243);*/

            border-style:solid;
        border-color: rgb(12, 12, 12);
        border-width: thin;
        }

        .orderno{
            height: 50%;
            width: 100%;


        }

       .firstorder button,.secondorder button{
            transition-duration: 0.4s;
		cursor: pointer;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		margin-block-start: 0.5cm;
		margin-left: 0.5cm;
		margin-right:0.5cm;
		background-color: rgb(78, 212, 73); 
	    color: rgb(1, 0, 0);
        }

        .firstorder button:hover, .secondorder button:hover{
            background-color: #95db7e;
		color: white;}


        